# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

src/Protobuf/*.cs

# globs
Makefile.in
*.nupkg
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
.vscode/
nuget/
Thumbs.db

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover
